{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome to my Woodshed
</h1>
<p>I am imagining this blog as a space for me to share my thoughts and experiences about a variety of subjects. I think
  it might be nice to flesh out some of these things here -- a public journal if you will. I hope this endeavor will
  provid the opportunity to maintain and sharpen my writing skills maybe the content will help someone out. Given the
  myriad of subjects, posts will be tagged so one could filter only the topics desirable to them.</p>
<br />
<p>Click <a href="/blog/">here</a> to see my posts.</p>
<br />
{% endblock content %}
