/* styles for full page */

@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
/** Color scheme below in rgb from lightest to darkest
** #F2E6CE
** #BFAD8A
** #8C7C5D
** #59492A
** #261F12
*/

* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quattrocentro', serif;
    font-size: 1rem;
    background-color: #BFAD8A;
}

/* header styles */ 
header { /* todo: background color */
    background-color: #9c8e71;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid grey;
    padding: 0.75rem;
}

#title {
    margin-left: 10rem auto;
    font-size: x-large;
}

#accounts {
    display: inline-flexbox;
}

.info {
    padding-top: .5rem;
    margin-right: 1rem;
    font-size: larger;
}

/* content styles */
main {
    width: 95%;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
}

.container {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem 0;
}

/* card styles */
.card {
    background-color: #8C7C5D;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 10rem auto;
    height: 6rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 1rem; 
    overflow: hidden;
}

.card--title {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 0.5rem
}

.card--content {
    /* to be decided */
}
